:root {
    --bg-primary: #28a745;
    --text-primary: #fff;
    --border-primary: #299442;
    --bg-primary-start: lch(65% 60 140);
    --bg-primary-end: lch(55% 60 140);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.centered-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
}