{{ define "title" }}
Login
{{ end }}

{{ define "body" }}
{{ template "login_form" . }}
{{ end }}

{{ define "login_form" }}
<div class="centered-layout">
    <form class="form form--vertical">
        <div class="form__control">
            <label for="email">E-mail</label>
            <input id="email" class="input" name="email" type="email" required autofocus />
        </div>

        <div>
            <button type="submit" class="button button--primary">
                Sign in with email
            </button>
        </div>
        <div>
            <button type="button" class="button button--primary" disabled>
                Sign in with email
            </button>
        </div>
    </form>
</div>
{{ end }}